@mixin auth-page-root {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

@mixin auth-link {
  cursor: pointer;

  display: block;

  margin-top: 7px;

  color: var(--color-accent-500);
  text-align: center;
  text-decoration: underline;

  &:visited {
    color: var(--color-accent-500);
  }
}

@mixin button {
  all: unset;

  cursor: pointer;

  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 6px 28px;

  font-family: inherit;
  color: inherit;

  border: none;
  border-radius: 4px;

  transition: all 0.3s ease;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }

  &:disabled {
    cursor: default;
    color: var(--color-dark-100);

    .icon {
      color: var(--color-dark-100);
    }
  }
}
