@import '@/styles/mixins';

.title {
  display: block;
  text-align: center;
}

.form {
  margin-top: 27px;

  .password {
    margin-top: 24px;
  }

  .checkboxWrapper {
    position: relative;
    height: 36px;
    margin-top: 12px;

    .checkbox {
      position: absolute;
      left: -9px;
    }
  }

  .forgotWrapper {
    text-align: end;

    .forgot {
      cursor: pointer;
      color: var(--color-light-100);
      text-decoration: none;

      &:visited {
        color: var(--color-light-100);
      }
    }
  }

  .button {
    margin-top: 64px;
  }
}

.underTitle {
  display: block;
  margin-top: 20px;
  color: var(--color-light-900);
  text-align: center;
}

.signUp {
  @include auth-link;
}
