.title {
  display: block;
  text-align: center;
}

.form {
  margin-top: 27px;

  .password {
    margin-top: 24px;
  }

  .checkboxWrapper {
    position: relative;
    height: 36px;
    margin-top: 12px;

    .checkbox {
      position: absolute;
      left: -9px;
    }
  }

  .forgotWrapper {
    text-align: end;

    .forgot {
      cursor: pointer;
    }
  }

  .button {
    margin-top: 60px;
  }
}

.underTitle {
  display: block;
  margin-top: 20px;
  color: var(--color-light-900);
  text-align: center;
}

.signIn {
  cursor: pointer;

  display: block;

  margin-top: 7px;

  color: var(--color-accent-500);
  text-align: center;
  text-decoration: underline;
}
