.title {
  display: block;
  text-align: center;
}

.icon {
  display: block;
  width: 96px;
  margin: 27px auto 0;
}

.underTitle {
  display: block;
  margin-top: 20px;
  color: var(--color-dark-100);
  text-align: center;
}

.button {
  margin-top: 66px;
  margin-bottom: 20px;
}
