.title {
  display: block;
  text-align: center;
}

.wrapper {
  margin-top: 50px;
}

.underTitle {
  display: block;
  margin-top: 20px;
  color: var(--color-dark-100);
}

.button {
  margin-top: 40px;
  margin-bottom: 30px;
}
