@import '@/styles/mixins';

.title {
  display: block;
  text-align: center;
}

.form {
  margin-top: 51px;

  .info {
    display: block;
    margin-top: 19px;
    color: var(--color-dark-100);
  }

  .button {
    margin-top: 65px;
  }
}

.underTitle {
  display: block;
  margin-top: 20px;
  color: var(--color-light-900);
  text-align: center;
}

.signIn {
  @include auth-link;
}
