.root {
  margin-top: 36px;

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .deck {
    margin-top: 7px;

    .params {
      display: flex;
      align-items: end;
      justify-content: space-between;

      .input {
        width: 320px;
      }
    }

    .table {
      width: 100%;
      margin-top: 36px;
    }
  }

  .button {
    width: 152px;
  }

  .pagination {
    display: flex;
    justify-content: end;
    margin: 24px 0 36px;
  }
}
