@import '@/styles/mixins';

.title {
  display: block;
  text-align: center;
}

.form {
  margin-top: 27px;

  .password {
    margin-top: 24px;
  }

  .button {
    margin-top: 50px;
  }
}

.underTitle {
  display: block;
  margin-top: 20px;
  color: var(--color-light-900);
  text-align: center;
}

.signIn {
  @include auth-link;
}
