.header {
  width: 100%;
  padding-block: 12px;
  background-color: var(--color-dark-700);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logoWrapper {
    display: flex;
    align-items: center;
    width: 156px;

    .logo {
      width: 100%;
    }
  }

  .userWrapper {
    display: flex;
    column-gap: 14px;
    align-items: center;
  }
}
