.table {
  margin-top: 10px;

  .tableData {
    width: 210px;
  }

  .tableDataAutor {
    width: 240px;
  }

  .tableDataIcons {
    width: 120px;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon {
      cursor: pointer;

      padding: unset;

      font-size: 16px;

      background-color: transparent;
      box-shadow: unset;

      transition: all 0.3s ease;

      &:hover {
        color: var(--color-accent-500);
      }
    }
  }
}
