.root {
  display: grid;
  align-items: center;

  max-width: 1300px;
  margin-inline: auto;
  padding: 30px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .input {
    width: 70%;
  }
}

.table {
  margin-top: 10px;
}
